<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../static/style.css">
    <title>Document</title>
</head>
<body>
    <header class="bg-white dark:bg-gray-900">
        <div class="mx-auto flex h-16 max-w-screen-xl items-center gap-8 px-4 sm:px-6 lg:px-8">
            <a class="block text-teal-600 dark:text-teal-300" href="#">
                <span class="sr-only">Home</span>
                <img class="h-20 " src="https://raw.githubusercontent.com/Adetth/VersatileAI/VAI/website/templates/EVOLVEAI_LOGO.png" alt="">
            </a>
    
            <div class="flex flex-1 items-center justify-end md:justify-between">
                <nav aria-label="Global" class="hidden md:block">
                    <ul class="flex items-center gap-6 text-sm">
                        <li>
                            <a class="text-gray-500 transition hover:text-gray-500/75 dark:text-white dark:hover:text-white/75"
                                href="#">
                                Home
                            </a>
                        </li>
    
                        <li>
                            <a class="text-gray-500 transition hover:text-gray-500/75 dark:text-white dark:hover:text-white/75"
                                href="#">
                                History
                            </a>
                        </li>
    
                        <li>
                            <a class="text-gray-500 transition hover:text-gray-500/75 dark:text-white dark:hover:text-white/75"
                                href="#">
                                Idk
                            </a>
                        </li>
    
                        <li>
                            <a class="text-gray-500 transition hover:text-gray-500/75 dark:text-white dark:hover:text-white/75"
                                href="#">
                                What
                            </a>
                        </li>
    
                        <li>
                            <a class="text-gray-500 transition hover:text-gray-500/75 dark:text-white dark:hover:text-white/75"
                                href="#">
                                To
                            </a>
                        </li>
    
                        <li>
                            <a class="text-gray-500 transition hover:text-gray-500/75 dark:text-white dark:hover:text-white/75"
                                href="#">
                                Put
                            </a>
                        </li>
                    </ul>
                </nav>
    
                <!-- <div class="flex items-center gap-4">
                    <div class="sm:flex sm:gap-4">
                        <a class="block rounded-md bg-teal-600 px-5 py-2.5 text-sm font-medium text-white transition hover:bg-teal-700 dark:hover:bg-teal-500"
                            href="#">
                            Login
                        </a>
                    </div>
    
                    <button
                        class="block rounded bg-gray-100 p-2.5 text-gray-600 transition hover:text-gray-600/75 md:hidden dark:bg-gray-800 dark:text-white dark:hover:text-white/75">
                        <span class="sr-only">Toggle menu</span>
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
                        </svg>
                    </button>
                </div> -->
            </div>
        </div>
    </header>
    <section class="bg-gray-900 text-white bg-gradient-to-br from-blue-950 via-cyan-900 to-green-900">
        <div class="mx-auto max-w-screen-xl px-4 py-32 lg:flex lg:h-screen lg:items-center">
            <div class="mx-auto max-w-3xl text-center">
                <h1
                    class="bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 bg-clip-text text-3xl font-extrabold text-transparent sm:text-5xl">
                    Versatile AI.
    
                    <span class="sm:block bg-clip-text text-5xl font-extrabold text-transparent"> Explore. Empower. Evolve. </span>
                </h1>
    
                <p class="mx-auto mt-4 max-w-xl sm:text-xl/relaxed">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt illo tenetur fuga ducimus
                    numquam ea!
                </p>
    
                <div class="mt-8 flex flex-wrap justify-center gap-4">
                    <a class="block w-full rounded border border-blue-600 bg-blue-600 px-12 py-3 text-sm font-medium text-white hover:bg-transparent hover:text-white focus:outline-none focus:ring active:text-opacity-75 sm:w-auto"
                        href="#">
                        Get Started
                    </a>
    
                    <a class="block w-full rounded border border-blue-600 px-12 py-3 text-sm font-medium text-white hover:bg-blue-600 focus:outline-none focus:ring active:bg-blue-500 sm:w-auto"
                        href="#">
                        Learn More
                    </a>
                </div>
            </div>
        </div>
    </section>

</body>
</html>